
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

body {
  background-color: green;
}

table {
  -webkit-perspective: 100px;
}

.card {
  position: relative;
  float: left;
  background-image: url("img/bicycle-back.jpg");
  background-size: contain;
  background-position: center;
  margin: 15px;
  width: 126px;
  height: 176px;
  background-repeat: no-repeat;
  border-radius: 16px;
  transition: all 0.9s;
}

.card:hover {
  transform: rotateX(180deg);
}

.card .front .suit {
  background-image: url("img/french-suits.svg");
  background-repeat: no-repeat;
  background-size: 200% 200%;
  background-color: white;
}


.card .front {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  background-size: contain;
  -webkit-backface-visibility: hidden;
  transform: rotateX(180deg);
  transition: all 1sec;
}

.back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  width: 100%;
  height: 100%;

}

h1 {
  color: white;
  text-align: center;
}

#table {
  margin: 0 auto;
  padding-left: 200px;
  padding-right: 200px;
}
