body {
  font-family: Lato;
  padding: 40px;
}

.preview {
  background-image: url("../fashion_blog_part2.png");
  background-repeat: no-repeat;
}


h1 a {
font-size: 75px;
font-weight:300;
color: #f30000;
text-decoration: none;
}

h2 {
  font-size: 30px;
  font-weight:300;
  color: #000000;
  text-decoration:none;
}

h2 a {
  font-size: 54px;
  font-weight:300;
  color: #000000;
  text-decoration: none;
}

h3 {
  font-size: 40px;
  font-weight:300;
  color: #dddddd;
}

nav a {
  font-size: 30px;
  font-weight:300;
  color: #dddddd;
  padding: 20px;
}

h4 a {
  color: #f30000;
  text-decoration: none;
}

.text-right {
  text-align: right;
}

p {
  color:#787878;
  
}
